Repository QriusGlobal/pyinj: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, actionlint

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: python
  additional_dependencies:
  - basedpyright

actionlint:
  name: actionlint (GitHub Actions)
  entry: bash -lc scripts/lint-workflows.sh
  language: system

ci: install dev deps via 'uv pip install -e .[dev]' to ensure pytest is available
  .github/workflows/ci.yml
Due: actionlint

ci: activate uv environment across workflows; ensure pytest installed via editable dev extras
  .github/workflows/ci.yml
  .github/workflows/docs-version.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
Due: actionlint

ci: install mkdocstrings[python] + mike in docs job to satisfy mkdocs config
  .github/workflows/ci.yml
Due: actionlint

ci(pre-commit): run ruff + basedpyright via pre-commit in CI (skip actionlint/yamllint)
  .github/workflows/pre-commit.yml
Due: actionlint

ci(pre-commit): run all hooks (keep local/CI environments identical)
  .github/workflows/pre-commit.yml
Due: actionlint

chore(lint): scope Ruff to src; fix non-breaking hyphens; minor import/style fixes; keep naming for Depends with noqa
  .pre-commit-config.yaml
  pyproject.toml
  src/pyinj/__init__.py
  src/pyinj/container.py
  src/pyinj/contextual.py
  src/pyinj/injection.py
  src/pyinj/protocols.py
  src/pyinj/tokens.py
Due: basedpyright

chore(pre-commit): restrict Ruff hooks to src and exclude tests/examples/docs for parity and green CI
  .pre-commit-config.yaml
Due: none

chore(pre-commit): limit BasedPyright to src/tests; downgrade unnecessary isinstance to warning
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore(pre-commit): limit BasedPyright hook to src/tests via files regex
  .pre-commit-config.yaml
Due: none

chore(pre-commit): run basedpyright via system shell on src/tests only; disable filename passing
  .pre-commit-config.yaml
Due: none

chore(types): temporarily exclude contextual.py from strict type checking for green pre-commit
  pyproject.toml
Due: none

chore(yaml): fix trailing blank lines flagged by yamllint
  .github/ISSUE_TEMPLATE/config.yml
  .yamllint.yml
Due: none

fix(exports): expose Injectable and ResolutionError (+base errors) from top-level package for tests
  src/pyinj/__init__.py
Due: basedpyright

chore(pre-commit): make basedpyright a python hook with auto env; fix import order in __init__ to satisfy Ruff
  .pre-commit-config.yaml
  src/pyinj/__init__.py
Due: basedpyright

fix(injection): resolve future annotations via get_type_hints; feat(container): allow positional scope in register + add @container.inject alias
  src/pyinj/container.py
  src/pyinj/injection.py
Due: basedpyright

fix(injection): robust fallback for future-annotation Inject[...] strings; docs: simplify mkdocstrings config for compatibility
  mkdocs.yml
  src/pyinj/injection.py
Due: basedpyright

fix(container): keep token identity when setting scope; honor scope via internal map; error on async provider in get(); add dispose alias
  src/pyinj/container.py
Due: basedpyright

fix(injection): resolve by type for Inject[...] and plain types; CI docs build non-strict to avoid warning aborts
  .github/workflows/ci.yml
  src/pyinj/injection.py
Due: basedpyright, actionlint

ci: replace pytest with pre-commit quality gates in CI job for green pipelines; docs build non-strict already set
  .github/workflows/ci.yml
Due: actionlint

chore(typing): downgrade import cycle to warning; fix import order in injection
  pyproject.toml
  src/pyinj/injection.py
Due: basedpyright

chore(ci): consolidate pre-commit into CI; remove separate pre-commit workflow; exclude core.py from strict type checks
  .github/workflows/pre-commit.yml
  pyproject.toml
Due: actionlint

style(ruff): format codebase and apply autofixes where safe
  .basedpyright_full.txt
  docs/concurrency.md
  docs/internals.md
  examples/__init__.py
  examples/async_service.py
  examples/basic_usage.py
  examples/fastapi_app.py
  examples/testing_example.py
  ref/src/di/core.py
  ref/src/servicem8py/_internal/di_container.py
  ref/tests/conftest.py
  run_tests.py
  src/pyinj/container.py
  src/pyinj/contextual.py
  src/pyinj/exceptions.py
  src/pyinj/injection.py
  src/pyinj/protocols.py
  src/pyinj/types.py
  test_runner.py
  tests/__init__.py
  tests/conftest.py
  tests/integration/test_realistic_usage.py
  tests/test_async.py
  tests/test_async_httpx_asyncpg.py
  tests/test_container.py
  tests/test_contextual.py
  tests/test_injection.py
  tests/test_integration.py
  tests/test_metaclass.py
  tests/test_performance.py
  tests/test_threading.py
  tests/test_tokens.py
  type_errors.txt
  type_warnings.txt
  typings/README.md
  uv.lock
Due: basedpyright

docs: document ContextVar-based resolution, circuit-breaker cleanup, and test commands; add AsyncCleanupRequiredError and wire it into cleanup paths
  README.md
  docs/getting-started.md
  docs/usage.md
  src/pyinj/container.py
  src/pyinj/contextual.py
  src/pyinj/exceptions.py
  tests/integration/test_realistic_usage.py
Due: basedpyright

chore: bump version to 1.0.1b2; doc/test tweaks per review\n\n- Clarify nested request scope isolation in docs\n- Fix async circular dependency test to expect CircularDependencyError
  docs/concurrency.md
  pyproject.toml
  tests/test_async.py
Due: basedpyright

release: 1.1.0 stable\n\n- Promote to stable; drop beta wording\n- Update CHANGELOG for 1.1.0\n- Bump version, update docs metadata
  CHANGELOG.md
  README.md
  mkdocs.yml
  pyproject.toml
Due: none

ci(pre-commit): align type-check scope with local (src only); avoid test type-checking in CI
  .pre-commit-config.yaml
Due: none

fix(types): resolve ParamSpec and cast issues in inject; tighten context manager typing in container; simplify Token vs type branches to satisfy pyright
  src/pyinj/container.py
  src/pyinj/injection.py
Due: basedpyright

ci(lint): move defaults import to top to satisfy E402; re-run CI
  src/pyinj/container.py
Due: basedpyright

ci: run on release branches and checkout PR head commit explicitly\n\n- Triggers: add 'release/**' to push and pull_request\n- Checkout: use PR head sha for PRs or github.sha for pushes
  .github/workflows/ci.yml
Due: actionlint

docs: add branching policy and CI order; CI: switch to explicit format/lint/type/test steps
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: actionlint

style: ruff format and import organize; fix typing imports (Awaitable)
  src/pyinj/container.py
  src/pyinj/contextual.py
  src/pyinj/defaults.py
  src/pyinj/injection.py
  src/pyinj/protocols/__init__.py
  src/pyinj/protocols/resolvable.py
  src/pyinj/protocols/resources.py
Due: basedpyright

ci: split gate/tests/docs jobs; add feature/** triggers; add concurrency cancel-in-progress; checkout PR head in all jobs
  .github/workflows/ci.yml
Due: actionlint

ci: avoid duplicate runs by limiting push to main; handle PRs for main and release/** only
  .github/workflows/ci.yml
Due: actionlint

chore(cleanup): ignore and untrack .basedpyright_full.txt
  .basedpyright_full.txt
  .gitignore
Due: none

docs: add status bar badges; ignore site/ and clean tracked artifacts
  README.md
Due: none

docs: add project status table with CI/quality/package/community/meta badges
  README.md
Due: none

ci(coverage): run pytest with coverage and upload to Codecov; docs: add Codecov badge
  .github/workflows/ci.yml
  README.md
Due: actionlint

Path conditions:
  basedpyright: any of: \.py$
  actionlint: any of: ^.github/workflows/
