Repository QriusGlobal/injx: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, actionlint

.pre-commit-config.yaml:

repos:
  # Smart commit message validation with hierarchical rules (replaces standard commitlint)
  - repo: local
    hooks:
      - id: validate-commit
        name: Validate commit message with hierarchical rules
        entry: bun run scripts/validate-commit.js
        language: system
        stages: [commit-msg]
        files: '^$'  # Run for all commits, not file-based
        additional_dependencies: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
        files: ^src/
        exclude: ^(tests/|examples/|ref/|docs/)
      - id: ruff
        files: ^src/
        exclude: ^(tests/|examples/|ref/|docs/)
        args: ["--exit-non-zero-on-fix"]

  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: python
        files: ^src/
        additional_dependencies: [basedpyright]
        args: ["src/"]

      - id: actionlint
        name: actionlint (GitHub Actions)
        entry: uv run actionlint
        language: system
        files: ^.github/workflows/
        pass_filenames: true

  # Custom commit hooks removed - using commitizen only

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: ^(.github/workflows/|.*\.ya?ml)$
        args: ["-c", ".yamllint.yml"]

fix: restore individual pre-commit hooks with always-run mkdocs
  .pre-commit-config.yaml
Due: none

refactor(types): improve type safety with TYPE_CHECKING and TypeGuards
  src/injx/cleanup_strategy.py
  src/injx/debug.py
Due: basedpyright

feat(async): modernize async with Python 3.13+ structured concurrency
  src/injx/__init__.py
  src/injx/async_tracing.py
  src/injx/cancellation.py
  src/injx/container.py
  src/injx/contextual.py
  src/injx/dependencies.py
  src/injx/exceptions.py
  src/injx/timeouts.py
  tests/test_async.py
  tests/test_structured_concurrency_stress.py
Due: basedpyright

docs: add structured concurrency documentation and API reference
  CHANGELOG.md
  docs/advanced.md
  docs/api.md
  docs/examples/async_example.py
  docs/examples/basic_example.py
  docs/examples/django_integration.py
  docs/examples/fastapi_integration.py
  docs/examples/testing_example.py
  src/injx/__init__.py
Due: basedpyright

fix: address CodeRabbit review findings
  docs/api.md
  docs/examples/async_example.py
  src/injx/dependencies.py
  src/injx/testing.py
  tests/test_structured_concurrency_stress.py
  tests/test_testing.py
Due: basedpyright

fix: address remaining CodeRabbit review findings
  docs/examples/django_integration.py
  tests/test_testing.py
Due: none

fix: rename test to match behavior (pre-cancellation, not in-flight)
  tests/test_structured_concurrency_stress.py
Due: none

ci: pin Python 3.13 across all workflows
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  CLAUDE.md
Due: actionlint

feat(tests): add free-threading support for Python 3.13t
  .github/workflows/ci.yml
  pyproject.toml
  tests/conftest.py
Due: actionlint
