Repository QriusGlobal/injx: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, actionlint

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: python
  additional_dependencies:
  - basedpyright
  args:
  - src/

actionlint:
  name: actionlint (GitHub Actions)
  entry: bash -lc scripts/lint-workflows.sh
  language: system

ci(workflows): add test workflow for validation testing
  .github/workflows/test.yml
Due: actionlint

chore(validation): fix critical workflow classification bug
  .github/workflows/test.yml
  .task/commit-editor.sh
  .task/commit-fixes-required.md
  .task/fix-commits.sh
  .task/gemini-architectural-review.md
  .task/rebase-editor.sh
  .task/rebase-script.sh
  .task/rollback-procedures.md
  .task/semantic-versioning-correction-completed.md
  .task/semantic-versioning-correction-spec.md
  .task/sequence-editor.sh
  CLAUDE.md
  scripts/validate-commit-prefix.py
  test_validation.txt
Due: actionlint

chore(validation): implement bulletproof commit validation system
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  scripts/prepare-commit-msg.py
  scripts/validate-commit-prefix.py
  tests/test_commit_message_rules.py
Due: actionlint

chore(validation): apply Gemini's critical security fixes
  scripts/prepare-commit-msg.py
  scripts/validate-commit-prefix.py
Due: none

docs: add Python 3.14 technical roadmap with free-threading and type system specs
  ROADMAP_PYTHON_3.14.md
Due: none

ci: fix validation issues and establish single source of truth for tools
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  bun.lock
  commitlint.config.js
  package.json
  pyproject.toml
  scripts/deploy-docs.sh
  scripts/lint-workflows.sh
  scripts/lint.sh
  scripts/manual-publish.sh
  scripts/prepare-commit-msg.py
  scripts/validate-commit-prefix.py
  scripts/validate-commit.js
  tests/test_commit_message_rules.py
  tests/test_performance.py
  uv.lock
Due: actionlint

ci: fix validation issues and establish single source of truth for tools
  .github/workflows/ci.yml
  .github/workflows/release-pr.yml
  .github/workflows/release-publish.yml
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
  BRANCH-PROTECTION-MIGRATION.md
  CLAUDE.md
  RELEASE.md
  bun.lock
  commitlint.config.js
  package.json
  pyproject.toml
  scripts/deploy-docs.sh
  scripts/lint-workflows.sh
  scripts/lint.sh
  scripts/manual-publish.sh
  scripts/prepare-commit-msg.py
  scripts/validate-commit-prefix.py
  scripts/validate-commit.js
  tests/test_commit_message_rules.py
  tests/test_performance.py
  uv.lock
Due: actionlint

ci(workflows): implement unified release workflow with branch protection
  .github/workflows/release-pr.yml
  .github/workflows/release-publish.yml
  .github/workflows/release.yml
  BRANCH-PROTECTION-MIGRATION.md
  RELEASE.md
Due: actionlint

ci: fix validation issues and establish single source of truth for tools
  .github/workflows/release-pr.yml
  .github/workflows/release-publish.yml
  .github/workflows/release.yml
  BRANCH-PROTECTION-MIGRATION.md
  RELEASE.md
Due: actionlint

test: make CI timing thresholds more lenient to avoid flaky failures
  .github/workflows/release.yml
  tests/test_cycle_detection.py
  tests/test_performance.py
Due: actionlint

test: apply CI multiplier to O(1) variance assertions
  tests/test_cycle_detection.py
  tests/test_performance.py
Due: none

test: simplify performance tests with universal thresholds
  tests/test_cycle_detection.py
  tests/test_performance.py
Due: none

test: fix missed CI_MULTIPLIER references in performance tests
  tests/test_performance.py
Due: none

test: fix flaky injection cache performance test
  tests/test_performance.py
Due: none

ci: consolidate workflows with DRY principle and adaptive testing
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  docs/RELEASE_RECOVERY.md
  docs/WORKFLOW_TESTING.md
  pyproject.toml
  tests/test_performance.py
Due: actionlint

ci: consolidate workflows with DRY principle and adaptive testing
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test-tag-permissions.yml
  docs/RELEASE_RECOVERY.md
  docs/WORKFLOW_TESTING.md
  pyproject.toml
  tests/test_performance.py
Due: actionlint

chore(release): v0.2.0 [skip ci] (#9)
  pyproject.toml
Due: none

ci: consolidate workflows with DRY principle and adaptive testing (#10)
  .github/workflows/release.yml
  .github/workflows/test-tag-permissions.yml
Due: actionlint

fix(ci): clarify workflow permissions for tag creation
  uv.lock
Due: none

revert: remove test workflow and fix lockfile from incorrect CI consolidation
  .github/workflows/test-tag-permissions.yml
  uv.lock
Due: actionlint

chore(ci): replace smoke test with comprehensive pytest distribution tests
  .github/workflows/ci.yml
  pyproject.toml
  tests/test_distribution.py
Due: actionlint

docs: restructure documentation with type-annotated I/O examples
  README.md
  docs/examples/async_example.py
  docs/examples/basic_example.py
  docs/examples/django_integration.py
  docs/examples/fastapi_integration.py
  docs/examples/testing_example.py
  docs/index.md
Due: none

docs: refactor examples to use Dependencies pattern for grouped dependency injection
  README.md
  docs/examples/async_example.py
  docs/examples/basic_example.py
  docs/examples/django_integration.py
  docs/examples/fastapi_integration.py
  docs/examples/testing_example.py
  docs/index.md
Due: none

test: add comprehensive Dependencies pattern test coverage
  tests/integration/test_dependencies_realistic.py
  tests/test_dependencies_advanced.py
  tests/test_dependencies_async.py
  tests/test_dependencies_type_safety.py
Due: none

feat(dependencies)!: add awaitable protocol for async resolution
  src/injx/container.py
  src/injx/dependencies.py
  src/injx/injection.py
  tests/integration/test_dependencies_realistic.py
  tests/test_dependencies.py
  tests/test_dependencies_async.py
Due: basedpyright

fix(dependencies): improve type safety with explicit annotations
  src/injx/dependencies.py
Due: basedpyright

chore: add project-specific commit agent for conventional commits
  commit
  scripts/commit-agent.py
Due: none

docs: document Dependencies awaitable pattern for async contexts
  README.md
  src/injx/dependencies.py
Due: basedpyright

Path conditions:
  basedpyright: any of: ^src/
  actionlint: any of: ^.github/workflows/
