Repository QriusGlobal/injx: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, actionlint

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: python
  additional_dependencies:
  - basedpyright
  args:
  - src/

actionlint:
  name: actionlint (GitHub Actions)
  entry: bash -lc scripts/lint-workflows.sh
  language: system

test: consolidate and refactor Dependencies tests with semantic naming
  pyproject.toml
  tests/test_dependencies.py
Due: none

docs: update CLAUDE.md
  .claude/sub-agents/commit/commit.py
  CLAUDE.md
  commit
Due: none

docs: update documentation
  .claude/commands/commit.md
  .claude/sub-agents/commit/commit.py
  CLAUDE.md
Due: none

docs: update documentation
  .claude/commands/commit.md
  .claude/sub-agents/commit/commit.sh
  CLAUDE.md
Due: none

chore: update
  .claude/sub-agents/commit/commit.py
  .claude/sub-agents/commit/commit.sh
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: actionlint

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: actionlint

feat: add GitHub project management system with Claude Code OAuth triage bot
  .claude/sub-agents/triage-bot/README.md
  .claude/sub-agents/triage-bot/triage.sh
  .github/ISSUES/01_free_threading_support.md
  .github/ISSUES/02_lazy_annotations.md
  .github/ISSUES/03_subinterpreter_support.md
  .github/ISSUES/04_performance_benchmarking.md
  .github/ISSUES/05_enhanced_error_messages.md
  .github/ISSUES/06_memory_optimization.md
  .github/ISSUES/07_thread_safety_audit.md
  .github/ISSUES/08_add_more_examples.md
  .github/ISSUES/09_improve_test_coverage.md
  .github/ISSUES/10_type_stub_improvements.md
  .github/ISSUES/README.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
  .github/ISSUE_TEMPLATE/roadmap.yaml
  .github/PROJECT_MANAGEMENT.md
  .github/SETUP_CHECKLIST.md
  .github/labeler.yml
  .github/scripts/create-roadmap-issue.sh
  .github/scripts/manage-milestones.sh
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/issue-management.yml
  .github/workflows/issue-triage.yml
  .github/workflows/release.yml
  .github/workflows/roadmap-tracker.yml
  .github/workflows/sprint-plan.yml
  .github/workflows/stale.yml
  .github/workflows/triage-bot.yml
  coverage.xml
  reports/junit.xml
  tests/integration/test_dependencies_realistic.py
  tests/test_dependencies_advanced.py
  tests/test_dependencies_async.py
Due: actionlint

docs: consolidate commit tooling and project documentation
  .claude/commands/commit.md
  .claude/sub-agents/commit/commit.sh
  CLAUDE.md
  commit
Due: none

test: fix test reliability issues and improve test patterns
  tests/integration/test_dependencies_realistic.py
  tests/test_dependencies_advanced.py
  tests/test_dependencies_async.py
  tests/test_dependencies_type_safety.py
Due: none

docs: document Dependencies awaitable pattern for async contexts
  README.md
  src/injx/dependencies.py
Due: basedpyright

docs: refactor examples to use Dependencies pattern for grouped dependency injection
  README.md
  docs/examples/async_example.py
  docs/examples/basic_example.py
  docs/examples/django_integration.py
  docs/examples/fastapi_integration.py
  docs/examples/testing_example.py
  docs/index.md
Due: none

feat(dependencies)!: add awaitable protocol for async resolution
  src/injx/container.py
  src/injx/dependencies.py
  src/injx/injection.py
  tests/integration/test_dependencies_realistic.py
  tests/test_dependencies.py
  tests/test_dependencies_async.py
Due: basedpyright

docs: restructure documentation with type-annotated I/O examples
  README.md
  docs/examples/async_example.py
  docs/examples/basic_example.py
  docs/examples/django_integration.py
  docs/examples/fastapi_integration.py
  docs/examples/testing_example.py
  docs/index.md
Due: none

test: add comprehensive Dependencies pattern test coverage
  tests/integration/test_dependencies_realistic.py
  tests/test_dependencies_advanced.py
  tests/test_dependencies_async.py
  tests/test_dependencies_type_safety.py
Due: none

chore: add project-specific commit agent for conventional commits
  commit
  scripts/commit-agent.py
Due: none

fix(dependencies): improve type safety with explicit annotations
  src/injx/dependencies.py
Due: basedpyright

feat: add GitHub project management system with Claude Code OAuth triage bot
  .claude/sub-agents/triage-bot/README.md
  .claude/sub-agents/triage-bot/triage.sh
  .github/ISSUES/01_free_threading_support.md
  .github/ISSUES/02_lazy_annotations.md
  .github/ISSUES/03_subinterpreter_support.md
  .github/ISSUES/04_performance_benchmarking.md
  .github/ISSUES/05_enhanced_error_messages.md
  .github/ISSUES/06_memory_optimization.md
  .github/ISSUES/07_thread_safety_audit.md
  .github/ISSUES/08_add_more_examples.md
  .github/ISSUES/09_improve_test_coverage.md
  .github/ISSUES/10_type_stub_improvements.md
  .github/ISSUES/README.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
  .github/ISSUE_TEMPLATE/roadmap.yaml
  .github/PROJECT_MANAGEMENT.md
  .github/SETUP_CHECKLIST.md
  .github/labeler.yml
  .github/scripts/create-roadmap-issue.sh
  .github/scripts/manage-milestones.sh
  .github/workflows/issue-management.yml
  .github/workflows/issue-triage.yml
  .github/workflows/roadmap-tracker.yml
  .github/workflows/sprint-plan.yml
  .github/workflows/stale.yml
  .github/workflows/triage-bot.yml
  coverage.xml
  reports/junit.xml
  tests/test_dependencies_async.py
Due: actionlint

fix(pm): simplify project management by removing problematic automation
  .claude/agents/release-agent.yaml
  .github/SETUP_CHECKLIST.md
  .github/scripts/create-roadmap-issue.sh
  .github/workflows/issue-triage.yml
  .pre-commit-config.yaml
  mkdocs.yml
  tests/integration/test_dependencies_realistic.py
  tests/test_dependencies_advanced.py
  tests/test_dependencies_async.py
  tests/test_distribution.py
  tests/test_performance.py
Due: actionlint

ci(workflows): add GitHub project management system with security hardening
  .claude/agents/release-agent.yaml
  .claude/sub-agents/triage-bot/README.md
  .claude/sub-agents/triage-bot/triage.sh
  .github/ISSUES/01_free_threading_support.md
  .github/ISSUES/02_lazy_annotations.md
  .github/ISSUES/03_subinterpreter_support.md
  .github/ISSUES/04_performance_benchmarking.md
  .github/ISSUES/05_enhanced_error_messages.md
  .github/ISSUES/06_memory_optimization.md
  .github/ISSUES/07_thread_safety_audit.md
  .github/ISSUES/08_add_more_examples.md
  .github/ISSUES/09_improve_test_coverage.md
  .github/ISSUES/10_type_stub_improvements.md
  .github/ISSUES/README.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
  .github/ISSUE_TEMPLATE/roadmap.yaml
  .github/PROJECT_MANAGEMENT.md
  .github/SETUP_CHECKLIST.md
  .github/labeler.yml
  .github/workflows/issue-management.yml
  .github/workflows/issue-triage.yml
  .github/workflows/roadmap-tracker.yml
  .github/workflows/sprint-plan.yml
  .github/workflows/stale.yml
  .github/workflows/triage-bot.yml
  .gitignore
  .pre-commit-config.yaml
  mkdocs.yml
  tests/integration/test_dependencies_realistic.py
  tests/test_dependencies_advanced.py
  tests/test_dependencies_async.py
  tests/test_distribution.py
  tests/test_performance.py
Due: actionlint

build: require Python 3.13.7+ for asyncio stability
  pyproject.toml
  uv.lock
Due: none

chore(ci): suppress type warnings and clean gitignore patterns
  .gitignore
  pyproject.toml
  src/injx/cleanup_strategy.py
  src/injx/injection.py
Due: basedpyright

chore: remove misleading type stub issue and update project metadata
  .github/ISSUES/10_type_stub_improvements.md
  .github/ISSUES/README.md
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  pyproject.toml
  src/injx/container.py
  src/injx/injection.py
  src/injx/tokens.py
  typings/README.md
Due: basedpyright

chore: document type checker config and remove stub issue
  .github/ISSUES/10_type_stub_improvements.md
  .github/ISSUES/README.md
  .pre-commit-config.yaml
  pyproject.toml
  typings/README.md
Due: none

feat: Add comprehensive testing and debugging utilities
  ROADMAP.md
  src/injx/__init__.py
  src/injx/container.py
  src/injx/debug.py
  src/injx/exceptions.py
  src/injx/testing.py
  tests/test_debug.py
  tests/test_testing.py
Due: basedpyright

feat: Enhance type hints, protocols and IDE integration
  src/injx/__init__.py
  src/injx/container.py
  src/injx/injection.py
  src/injx/protocols/container.py
  src/injx/protocols/resolvable.py
  src/injx/protocols/resources.py
  src/injx/tokens.py
  tests/test_debug.py
  tests/test_testing.py
Due: basedpyright

fix: Resolve import and type issues after protocol enhancements
  src/injx/__init__.py
  src/injx/container.py
Due: basedpyright

chore: remove Claude Flow patterns from .gitignore
  .gitignore
Due: none

fix: Fix test failures and quality gate issues
  pyproject.toml
  src/injx/__init__.py
  src/injx/container.py
  uv.lock
Due: basedpyright

fix: Fix all failing tests and quality gate issues
  tests/test_contextual.py
  tests/test_testing.py
Due: none

feat: Enhance testing, debugging, and IDE integration (v0.3.0 features) (#24)
  ROADMAP.md
  src/injx/__init__.py
  src/injx/container.py
  src/injx/debug.py
  src/injx/exceptions.py
  src/injx/injection.py
  src/injx/protocols/container.py
  src/injx/protocols/resolvable.py
  src/injx/protocols/resources.py
  src/injx/testing.py
  src/injx/tokens.py
  tests/test_debug.py
  tests/test_testing.py
Due: basedpyright

Path conditions:
  basedpyright: any of: ^src/
  actionlint: any of: ^.github/workflows/
